@use "../mixins/mixin" as *;

.footer {
    background: #070b14;
    padding: 40px 0;
    border-top: 1px solid rgba(255, 255, 255, .05);

    .footerWrapper {
        @include flex;
        text-align: center;

    }

    .footerCopyright {
        color: #8b949e;
        @include text(18px, 400, 1.6);

    }

}

@include respond(desktop) {

    .footer {

        padding: 45px 0;
        .footerCopyright {

            @include text(18px, 400);

        }

    }

}


@include respond(tablet) {
    .footer {
        padding: 35px 0;

        .footerCopyright {

            @include text(16px, 400);

        }

    }

}


@include respond(mobile) {


    .footer {

        padding: 30px 0;

        .footerCopyright {

            @include text(14px, 400);

            padding-inline: 15px;

        }

    }

}